{% extends 'base.html' %}
{% load static %}

{% block css %}
  {% block head_css_site %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'stylesheet/corporateRegistraion.css' %}">
  {% endblock head_css_site %}
  <style>
  </style>

  {% endblock css %}
{% block content %}

<section class="corporateRegWrapper">
    <div class="corporateRegForm">
        <div class="corporateRegImg">
            <img src="{% static 'img/creditScoreImg.png' %}" alt="">
        </div>
        <form>
            <div>
                <h3>Confirm your payment book your appointment with {{appointment.corporate.user.name}}!</h3>
            </div>
            <div>
                <button type="button" id="pay-btn" class="btn btn-primary" data-mdb-ripple-init>Make Payment</button>
            </div>
        </form>

    </div>
</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  var options = {
    key: "{{ razorpay_merchant_key }}", 
    amount: "{{ razorpay_amount }}", 
    currency: "INR",
    name: "Twamitra", 
    description: "Appointment with {{appointment.corporate.user.name}}",
    prefill: {
        name: "{{appointment.customer.name}}",
        email: "{{appointment.customer.email}}"
    },
    notes: {
        address: "Twamitra Office"
    },
    order_id: "{{ razorpay_order_id }}", 
    callback_url: "{{ callback_url }}",
  };
  var rzp1 = new Razorpay(options);
  document.getElementById("pay-btn").onclick = function (e) {
    rzp1.open();
    e.preventDefault();
  };
</script>


{% endblock %}