{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
 
 {% block titleactive1 %} active {% endblock titleactive1 %} 

{% block headthing %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>



{% endblock headthing %}


{% block css %}



{% endblock css %}


{% block preloader %}

<div id="loaderbox" >

 <div class="row1">
            </div>
                <div class="loader">
                    <div class="loader-inner">
                        <div class="loading one"></div>
                    </div>
                    <div class="loader-inner">
                        <div class="loading two"></div>
                    </div>
                    <div class="loader-inner">
                        <div class="loading three"></div>
                    </div>
                    <div class="loader-inner">
                        <div class="loading four"></div>
                    </div>
                
            </div>
        
    </div>

</div>




{% endblock preloader %}



{% block body %}

fjkdhskjfh

<h1> jdsfkdshfksdhkl
    
</h1>
<!-- <script>
  
</script> -->


{% endblock body %}