{% extends 'base.html' %}
{% load static %}

{% block css %}
  {% block head_css_site %}
  {{ block.super }}
  {% endblock head_css_site %}
{% endblock css %}


{% block content %}


<div class="landingPageWrapper">
    <div class="companyDetailsBar">
        <ul>
            <li>
                <i class="fas fa-building-columns"></i>
                <p>10+ Banks</p>
            </li>
            <li>
                <i class="fas fa-handshake-simple-slash"></i>
                <p>Contact Less KYC & Paper Less Approval</p>
            </li>
            <li>
                <i class="fas fa-user"></i>
                <p>10K+ Happy Customers</p>
            </li>
            <li>
                <i class="fas fa-gift"></i>
                <p>Exclusive offers & Rates</p>
            </li>
        </ul>
    </div>


    <div class="productsWrapper">
        <ul class="products">
            <li>
                <a href="#">
                    <i class="far fa-credit-card"></i>
                    <p>Credit Card</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="far fa-heart"></i>
                    <p>Personal loan</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-gauge-high"></i>
                    <p>Credit score</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-car"></i>
                    <p>Car loan</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-house"></i>
                    <p>House loan</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-calculator"></i>
                    <p>Calculator</p>
                </a>
            </li>
        </ul>
    </div>


    <div class="freeCreditScoreWrapper">
        <div class="creditScoreHead">
            <h3>Get your lastest Credit Score, Free</h3>
            <p>One powerful number that puts you in control</p>
        </div>
        <div class="creditScoreDetails">
            <ul>
                <li>
                    <i class="fas fa-chart-line"></i>
                    <div>
                        <h5>Increase chances of application approval</h5>
                        <p>A score of 750+ boosts your chances of getting a loan/Credit Card</p>
                    </div>
                </li>
                <li>
                    <i class="fas fa-chart-line"></i>
                    <div>
                        <h5>Better offers</h5>
                        <p>The better your score, the more offers you'll be eligible for</p>
                    </div>
                </li>
                <li>
                    <i class="fas fa-chart-line"></i>
                    <div>
                        <h5>Take charge of your finances</h5>
                        <p>Understanding your score helps you take the right next steps</p>
                    </div>
                </li>
            </ul>

        </div>
        <button class="btn btn-primary freeCreditScoreBtn">Get Your Free Credit Score</button>
    </div>

    <div class="trendingProductsWrapper">
        <div class="trendingHeader">
            <h3>Trending Products</h3>
            <p>Our picks for the hottest offers and coolest deals all in one place</p>
        </div>
        <div class="trendingProducts">
            <ul>
                <li>
                    <a href="#">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                                class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Credit Cards</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                                class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Quick Personal Loans</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                                class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Free Credit Score</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                                class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Finance Calculators</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                                class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Personal Finance</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                                class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Home Loans</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}