{% extends 'base.html' %}

{% block titleactive9 %} active  {% endblock titleactive9 %} 

{% block title %} Session Expired  {% endblock title %}


{% block headthing %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock headthing %}


{% block css %}



.wrapper{
position: relative;
margin : 40px auto;
max-width: 400px;
background: #fff;
border-radius: 15px;
box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
border: 2px solid black;
}

.wrapper .head-text{
line-height: ;
color: #000;
border-radius: 15px 15px 0 0;
border-bottom: 2px solid black;
padding: 20px 20px;
font-weight: 600;
font-size: 23px;
background: #03e9f4;
text-align: center;
}

.wrapper .chat-box{
padding: 20px;
width: 100%;
}

.chat-box form{
padding: 35px 25px;
margin: 20px 0;
border-radius: 25px;
border: 1px solid lightgrey;
}
.chat-box form .field{
height: 30px;
width: 100%;

}




.chat-box form .field:last-child{
margin-bottom: 15px;
}
form .field input,
form .field button,
form .textarea textarea{
width: 100%;
height: 100%;
padding-left: 20px;
border: 1px solid lightgrey;
outline: none;
border-radius: 25px;
font-size: 16px;
transition: all 0.3s ease;
}
form .field input:focus,
form .textarea textarea:focus{
border-color: #03e9f4;
}
form .field input::placeholder,
form .textarea textarea::placeholder{
color: silver;
transition: all 0.3s ease;
}
form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder{
color: lightgrey;
}
.chat-box form .textarea{
height: 70px;
width: 100%;
}
.chat-box form .textarea textarea{
height: 100%;
border-radius: 50px;
resize: none;
padding: 15px 20px;
font-size: 16px;
}
.chat-box form .field button{

cursor: pointer;
color: #000;
font-size: 18px;
font-weight: 500;
align-items: self;
text-decoration:none;
border: 2px solid Black;
border-radius: 25px;
background: #03e9f4;
transition: all 0.3s ease;
}
.chat-box form .field button:active{
transform: scale(0.97);
}



.historytab {
margin: 15px auto;
width: 100%;
display: flex;
}
 .historytab a{
padding:10px 60px;
align-items: self;
margin: 15px auto;
text-decoration:none;
cursor: pointer;
color: #000;
font-size: 18px;
font-weight: 500;
border: 2px solid Black;
border-radius: 25px;
background: #03e9f4;

}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
   margin-top: 15px;
  margin-bottom: 15px;
}

.alert.success 
{background-color: #04AA6D;}


.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.row1{
  color: white;
  background: White;
  text-align: center;
  margin: 10px auto ;

}
.row1 img{
    align-items: center;
    width: 69px;
    margin-bottom: 20px;
}
.row1 p{ 
font-size: 35px;
color : Black;
margin:  auto;
letter-spacing: 1px;



}
{% endblock css %}




{% block body %}



<div class="wrapper">
  <div class="head-text">
    Logout Succesfull!
  </div>
  <div class="chat-box">

    <form action="#">
       <div class="head-text" style="background:white; margin-top:-25px ; margin-bottom:35px ; padding:15px;">
    Thankyou For Visiting
  </div>
     
        <div class="row1">
        
            <img src="../static/icon.jpg" >
            <p> <b> TwaMitra</b> </p>
            
            
        </div>
    </div>



       

    </form>
      
        <div class="historytab">
         <a  href="/auth/loginuser"> Go to Login Page </a>
        </div>
  </div>

</div>


<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>




{% endblock body %}